
<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                
            </i>
            <strong style="font-size: 30px;margin-top: 12px;">Shoapable</strong>

          <form #searchform="ngForm" (ngSubmit)="submit(searchform)">
            <div class="form-group" style="margin-left: 250px;width:150%">
                <input type="text" name='search' class="form-control"   [(ngModel)]="searchTerm"  placeholder="search products" ngModel>
            </div>
            <!-- <button type="submit">search</button> -->
          </form>
            <span class="fas fa-search search-icon"></span>


        </div>
        <button routerLink="cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"[routerLink]="['/cart']">cart</i>
            <!-- <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div> -->
        </button>
    </div>
</header>