mat-form-field{
    margin-top: 10px; 
   margin-left: 15px; 
    width:200%; 
   margin-right:10px; 

}
.space{
   width:10%;
}
button{
   margin-left: 100px;
   margin-top: 10px; 
 }
 .example-full-width {
   width: 100%;
 }
 .hello{
   margin-left: 120px; 
   margin: "center";
 }
 .Linklogin{
  text-align: center;
  margin-left: 50px;
 }
 .main{
  text-align: center;
   
 }

 .profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}




