
<app-header></app-header>
<div class=" container-fluid">
    <div class="row container-fluid border">
    <div class="col-3"><img height="100%" width="100%" src="assets/images/female-friends-out-shopping-together.jpg" alt="not found">
    </div>
    <div class="col-3"><img height="100%" width="100%" src="assets/images/Picsart_22-09-13_11-02-33-276.jpg" alt="not found">
    </div>
    <div class="col-3"><img height="100%" width="100%" src="assets/images/Picsart_22-09-13_10-58-03-265.jpg" alt="not found">
    </div>
    <div class="col-3"><img height="100%" width="100%" src="assets/images/Picsart_22-09-13_10-42-04-934.jpg" alt="not found">
    </div>
    <hr>
    </div>
  <div class="container fluid d-flex border ">
    <h2 class="text justify-content-center">Categories</h2>
      <div class="item" id="cat">
          <a >
              <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
              <h6 (click)="categorySelection1('All Products')">All products</h6>
          </a>
      </div>
      <div class="item">
        
        <a >
              <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
              <h6 (click)="categorySelection1('electronics')">Electronics</h6>
          </a>
      </div>
      <div class="item">
          <a >
              <img src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt="">
              <h6 (click)="categorySelection1('fashion')">Fashion</h6>
          </a>
      </div>
      <div class="item">
          <a >
              <img style="width: 62px; margin-top: 5px;" src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50" alt="">
              <h6 (click)="categorySelection1('jewllery')">Jewllery</h6>
          </a>
      </div>
  </div>
</div>
   
      <div class="row">
        <div class="col-2 p-1">
            <div class="  container">
                <div  style="margin-top:70px">
                    <form [formGroup]="filtersform" (ngSubmit)="onSubmit()">
                      <div >
                        <h1 class=" btn btn-primary bt-sm active ">Price filter</h1>
            
                        <mat-form-field appearance="fill">
                          <mat-label>From</mat-label>
                          <input matInput type="number" placeholder='Min'formControlName="from" min="0" required>
                        </mat-form-field>
            
                        <mat-form-field appearance="fill">
                          <mat-label>to</mat-label>
                          <input matInput type="number" placeholder='Max'formControlName="to" min="0" max="1000" required>
                        </mat-form-field>
            
                        <button type="submit"class="h-100 d-flex text-align-center justify-content-*-center btn btn-primary">Go</button>
                      </div>
                    </form>
                  </div>
            </div>
            </div>
        

        <div class="col-9 justify-content-*-center " >
            <div class="row container " >
            <h1 class=" text-center justify-content-*-center"><marquee>{{src}}</marquee></h1><hr>
            <ng-container  *ngFor="let item of this.Products">
                <div class="col-3">
                <div *ngIf=" this.srcProd===item.name  || this.srcProd==='' ">
            
                    
          <app-productitem [proitem]='item'> </app-productitem>
          
        </div> </div></ng-container>
    </div>

</div>

    <div class="col-1"></div>
    </div>
    <hr>
<app-footer></app-footer>
