
<div class="card mb-3">
                
    <img  src={{proitem.image}}><hr>
    <div class="card-body">
        <div class="row">
            <div class="col-6"><strong> Name: </strong>{{ proitem.name}}</div>
            <div class="col-6"><p><strong>Price:</strong> {{proitem.price|currency:'INR'}}</p></div>
        </div>
        <p class="text-center"><strong>Description:</strong> {{proitem.des}}</p>
        <hr>
        <!-- <button (click)="add()">wishlist</button> -->
        <div class="d-flex">
            <div class="row btngrp">
                <!-- <p *ngIf="padded" class="bg-info">added to cart</p> -->
                <div class="col-6"><button id='cart'class="btn btn-primary " (click)="handleaddtocart()"> Add to cart</button></div>

                <div class="col-6 "><button id="view" class="btn btn-primary   "> View </button></div>
                
                
      </div>
        </div>
    </div>

</div>



