
<div class="card mb-3">
                
    <img  src={{proitem.image}} alt=""><hr>
    <div class="card-body ">
        <div class="row">
            <div class="col-6"><strong> Name: </strong>{{ proitem.name}}</div>
            <div class="col-6"><p><strong>Price:</strong> {{proitem.price|currency:'INR'}}</p></div>
            <p ><strong>Description:</strong> {{proitem.des}}</p>
        </div>
        <hr>

        <div class="d-flex">
            <div class="row btngrp">
                <div class="col-8">
                    <button id='cart'class="btn btn-primary " (click)="handleaddtocart()"> Add to cart</button>
                </div>

                <div class="col-4 "><button id="view" class="btn btn-primary   "> View </button></div>
                
                
      </div>
        </div>
    </div>

</div>



